/* Navbar */
.navbar-brand {
    font-family: Aclonica;
    font-size: 50px;
    margin: auto;
}

.nav-link {
    font-family: Alata;
    font-size: 16px;
    margin-right: 30px;
    margin-top: -55px;
}

.navbar-brand,
.nav-link {
    color: white !important;

}

/* Slider */
.carousel-item {
    height: 600px;
    background: no-repeat center center scroll;
    background-size: cover;
    -webkit-background-size: cover;
}

.carousel-caption {
    bottom: 220px;
}

.carousel-caption h5 {
    font-size: 58px;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 8px;
    font-family: merienda;
}

.carousel-caption p {
    font-size: 34px;
    margin: auto;
    line-height: 1.9;
    font-family: Fira Sans;
}

.carousel-caption .kataCaption {
    font-size: 45px;

}

.w-100 {
    height: 100vh;
}

/* Akhir slider */

/* Card penjelasan pintu.kelas */
.card-img-overlay {
    margin-top: 25px;
}

.card-title {
    font-family: Aclonica;
    font-size: 25px;
    margin: auto;
}

/* Akhir card penjelasan pintu.kelas */


/* Versi jika muncul di hp */
@media only screen and (max-width: 767px) {
    .navbar-nav.ml-auto {
        background: rgba(0, 0, 0.8, 0.5);
        text-align: center;
    }

    .navbar-toggler {
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #B0C4DE;
    }

    .btn .btn-primary {
        border-radius: 7px;
    }

}

/* Akhir Versi jika muncul di hp  */


/* Versi jika muncul di Desktop Saja */
@media (min-width: 992px) {

    /* Navbar desktop*/
    .nav-link:hover::after {
        content: " ";
        border-bottom: 4px solid #00BFFF;
        margin: auto;
        width: 50%;
        display: block;
        padding-bottom: 5px;
        margin-bottom: -9px;
    }

    .container {
        margin-top: 40px;
        margin-left: 50px;
    }






}